.projects-grid{
    width:70vw;
    margin: 10% auto;
    align-items: center;
    display: grid;
    row-gap: 60px;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;

}

.project{
    position: relative;
    width: 80%;
    height:35vh;
    justify-content: center;
}

.project img{
    position: relative;
    width: 40vh;
    height: 100%;
    border-radius: 10%;
    border: 3px solid #21325e;
}

.project img:hover{
    border-color: aqua;
}


.overlay{
    position: absolute;
    width: 40vh;
    height: 100%;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    background-color:#21325e;
    opacity: 0;
    border-radius: 10%;

}

.overlay:hover{
    color: aqua;
    display: block;
    background-color: rgb(33, 50, 94, .8);
    opacity: 9.5;
    border-color: aqua;
    border: 6px solid;
}

.project-text{
    text-align: justify;
    font-size: 17px;
    padding: 3%;
    margin: auto 10%;
    line-height: 1.3;
}

.project-button {
    margin-top: 10%;
    background-color: #21325e;
    width: 15vh;
    height: 3vh;
}

.project-button:hover{
    border: 1px solid aqua;
}

.project-button a {
    color: aliceblue;
    text-decoration: none;
}

.project-button a:hover {
    color:aqua;
}

.project-title{
    font-weight: bolder;
}

@media only screen and (max-width: 1300px) {
    .projects-grid {
      grid-template-columns: 1fr 1fr;
    }

    .overlay{
        left: 50%;
    }
  }
  
@media only screen and (max-width: 800px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .overlay{
        left: 50;
    }
}
  
@media only screen and (max-width: 800px) {
    .projects-grid {
        width: 100%;
    }
    .project {
        width: 300px;
        height: 300px;
    }

    .overlay{
        left: 50%;
    }
}